/* Financeiro.css */

/* Estilos gerais para a página */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .saldo-container {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .resumo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .resumo-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    flex-basis: calc(50% - 20px);
  }
  
  /* Estilos para a lista de últimas vendas e despesas */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
  }
  
  button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .resumo-item {
      flex-basis: 100%;
    }
  }
  